<?xml version="1.0" encoding="utf-8"?>
<robot name="flying_car_urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/MYROBOT</robotNamespace-->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
  
  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="SimpleTransmissionVelocity" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:SimpleTransmissionPosition n="1" joint="FL_steer_joint" />
  <xacro:SimpleTransmissionPosition n="2" joint="FR_steer_joint" />
  <xacro:SimpleTransmissionPosition n="3" joint="FL_arm_joint" />
  <xacro:SimpleTransmissionPosition n="4" joint="FR_arm_joint" />
  <xacro:SimpleTransmissionPosition n="5" joint="RL_arm_joint" />
  <xacro:SimpleTransmissionPosition n="6" joint="RR_arm_joint" />
  <xacro:SimpleTransmissionPosition n="FL_prop" joint="FL_prop_joint" />
  <xacro:SimpleTransmissionPosition n="FR_prop" joint="FR_prop_joint" />
  <xacro:SimpleTransmissionPosition n="RL_prop" joint="RL_prop_joint" />
  <xacro:SimpleTransmissionPosition n="RR_prop" joint="RR_prop_joint" />
  <xacro:SimpleTransmissionVelocity n="FL_wheel" joint="FL_wheel_joint" />
  <xacro:SimpleTransmissionVelocity n="FR_wheel" joint="FR_wheel_joint" />
  <xacro:SimpleTransmissionVelocity n="RL_wheel" joint="RL_wheel_joint" />
  <xacro:SimpleTransmissionVelocity n="RR_wheel" joint="RR_wheel_joint" />

  <!-- Velodyne LiDAR macro -->
  <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
  <xacro:HDL-32E
    parent="base_link" 
    name="velodyne2" 
    topic="/velodyne_points2" 
    hz="10" 
    samples="220" 
    gpu="false">
    <origin xyz="0.5 0 0.5" rpy="0 0 0" />
  </xacro:HDL-32E>
</robot>
