<?xml version="1.0" encoding="utf-8"?>
<robot name="flying_car_urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/MYROBOT</robotNamespace-->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
  
  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:SimpleTransmissionPosition n="1" joint="FL_steer_joint" />
  <xacro:SimpleTransmissionPosition n="2" joint="FR_steer_joint" />
  <xacro:SimpleTransmissionPosition n="3" joint="FL_arm_joint" />
  <xacro:SimpleTransmissionPosition n="4" joint="FR_arm_joint" />
  <xacro:SimpleTransmissionPosition n="5" joint="RL_arm_joint" />
  <xacro:SimpleTransmissionPosition n="6" joint="RR_arm_joint" />
</robot>
