<?xml version="1.0"?>
<launch>
  <arg name="cmd_timeout" default="0.5"/>
  <!-- load the controllers -->
  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    args="$(find flying_car_urdf)/config/flying_car_control.yaml"/>

  <!-- Control the steering, axle, and shock absorber joints. -->
  <!--node
    name="ackermann_controller" 
    pkg="ackermann_vehicle_gazebo"
    type="ackermann_controller">
    <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
    <rosparam 
      file="$(find flying_car_urdf)/config/flying_car_ackermann_control.yaml" 
      command="load"/>
  </node-->


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" 
    pkg="robot_state_publisher" 
    type="robot_state_publisher"
    respawn="false" 
    output="screen"/>

</launch>
