<?xml version="1.0"?>
<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.3"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="1.57"/>
  <arg name="vehicle" default="flying_car"/>
  <arg name="est" default="ekf2"/>
  <arg name="sdf" default="$(find flying_car_urdf)/urdf/$(arg vehicle).sdf"/>
  <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
  <env name="PX4_ESTIMATOR" value="$(arg est)" />
  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- <include file="$(find flying_car_urdf)/launch/flying_car_control.launch"/> -->
	
  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

  <node 
    name="$(anon vehicle_spawn)" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    output="screen" 
    args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

</launch>
